<div class="card">
  <div class="card-header"> Cours Change {{currentDate | date: 'dd/MM/yyyy'}} </div>
  <div class="card-body">
<table class="table  table-responsive-sm">
  <thead>
  <tr>
    <th>Devise</th>
    <th>Achat</th>
    <th>Vente</th>
    <th>Parité</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cours of coursChanges">
   <td>{{cours?.devise?.libelle}}</td>
   <td>{{cours?.coursChange?.prixAchat}}</td>
   <td>{{cours?.coursChange?.prixVente}}</td>
   <td>{{cours?.coursChange?.parite}}</td>
  </tr>
  </tbody>
</table>
  </div>
</div>
