<div class="card" *ngFor="let cpt of comptes">
  <div class="card-body">
    <div class="form-group">
      <label >Numéro Compte: </label>
      <label >{{cpt.numCompte}} </label>
    </div>

    <div class="form-group">
      <label class="">RIB: </label>
      <label >{{cpt.rib}} </label>
    </div>

    <div class="form-group">
      <label class="">Type Compte: </label>
      <label >{{cpt.typeCompte.libelle}} </label>
    </div>

    <div class="form-group">
      <label class="">Devise: </label>
      <label >{{cpt.devise.libelle}} </label>
    </div>
    <div class="form-group">
      <label class="">Agence: </label>
      <label >{{cpt.agence.libelle}} </label>
    </div>

  </div>
</div>
