

<div class="card">
  <div class="card-header"> Mes compte </div>
  <div class="card-body">
    <table class="table table-responsive-sm">
      <thead>
      <tr>
        <th>Numéro compte</th>
        <th>RIB</th>
        <th>Type compte</th>
        <th>Devise</th>
        <th>Agence</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cpt of comptes" routerLink="/operation/{{cpt.id}}">

        <td >{{cpt.numCompte}}</td>
        <td>{{cpt.rib}}</td>
        <td>{{cpt.typeCompte.libelle}}</td>
        <td>{{cpt.devise.libelle}}</td>
        <td>{{cpt.agence.libelle}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
