<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" type="email" required
               name="email"
    #mail="ngModel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input name="password" [(ngModel)]="user.password" type="password"
    required #pwd="ngModel"></ion-input>
  </ion-item>

  <ion-button expand="block"
              [disabled]="mail.invalid || pwd.invalid"
              fill="outline" (click)="connexion()">Connexion</ion-button>

</ion-content>

